<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="1">
    <supportedRuntime version="v4.0"/>
  </startup>
  <appSettings>
    <add key="ConnectString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\iSmart.mdb" />
    <add key="Version" value="iSmartOffGrid"/>
    <add key="VersionNum" value="v2.7.0"/>
    <add key="Culture" value="CN"/>
    <add key="Inition" value="No"/>
    <add key="PopShow" value="No"/>
  </appSettings>
</configuration>